# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/v17/.suo
*.vcxproj
*.filters
*.user
TP_SO2_2022_2023/Servidor/x64/Debug/Server.exe.recipe
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/Server.lastbuildstate
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/unsuccessfulbuild
TP_SO2_2022_2023/Servidor/x64/Debug/Servidor.log
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/v17/ipch/AutoPCH/a0e258c87aab5b9a/SERVER.ipch
