
*.vsidx
*.vsidx
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/FileContentIndex/09c3530f-fd57-4039-bd0e-04b476d6196a.vsidx
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/FileContentIndex/2f8ea329-81f7-448d-9cc6-6b0d75682259.vsidx
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/FileContentIndex/32e21e64-49d1-4d71-afc6-c74b09b4cc52.vsidx
TP_SO2_2022_2023/.vs/TP_SO2_2022_2023/FileContentIndex/4f4c658c-a334-4cc2-8bbd-95afee04758f.vsidx
TP_SO2_2022_2023/Servidor/x64/Debug/registry.obj
TP_SO2_2022_2023/Servidor/x64/Debug/Server.ilk
TP_SO2_2022_2023/Servidor/x64/Debug/server.obj
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/Server.lastbuildstate
TP_SO2_2022_2023/Servidor/x64/Debug/Servidor.log
TP_SO2_2022_2023/Servidor/x64/Debug/vc143.idb
TP_SO2_2022_2023/Servidor/x64/Debug/vc143.pdb
TP_SO2_2022_2023/x64/Debug/Server.exe
TP_SO2_2022_2023/x64/Debug/Server.pdb
TP_SO2_2022_2023/Servidor/x64/Debug/registry.obj
TP_SO2_2022_2023/Servidor/x64/Debug/Server.ilk
TP_SO2_2022_2023/Servidor/x64/Debug/server.obj
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/CL.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.command.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.read.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/link.write.1.tlog
TP_SO2_2022_2023/Servidor/x64/Debug/Server.tlog/Server.lastbuildstate
TP_SO2_2022_2023/Servidor/x64/Debug/Servidor.log
TP_SO2_2022_2023/Servidor/x64/Debug/vc143.idb
TP_SO2_2022_2023/Servidor/x64/Debug/vc143.pdb
TP_SO2_2022_2023/x64/Debug/Server.exe
TP_SO2_2022_2023/x64/Debug/Server.pdb
